 # NLP-Nature Language Processing-Dogal Dil Isleme

In [1]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\utilisateur\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: joblib in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: click in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: colorama in c:\users\utilisateur\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [2]:
#natural language toolkit

In [3]:
import nltk
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
cumle='Yaylaya gitmis yayla zamani, Gulizar Dondu de Dondu donmedi'

In [5]:
cumle.upper()

'YAYLAYA GITMIS YAYLA ZAMANI, GULIZAR DONDU DE DONDU DONMEDI'

In [6]:
cumle.lower()

'yaylaya gitmis yayla zamani, gulizar dondu de dondu donmedi'

In [7]:
cumle.split()

['Yaylaya',
 'gitmis',
 'yayla',
 'zamani,',
 'Gulizar',
 'Dondu',
 'de',
 'Dondu',
 'donmedi']

In [8]:
cumle[0]

'Y'

In [9]:
from nltk.tokenize import sent_tokenize

In [10]:
text='I love python. Zafer lives in a small village. Plase call e back'

In [11]:
text.split('.')

['I love python', ' Zafer lives in a small village', ' Plase call e back']

In [12]:
sent_tokenize(text)

['I love python.', 'Zafer lives in a small village.', 'Plase call e back']

In [13]:
from nltk.tokenize import word_tokenize

In [14]:
word_tokenize(text)

['I',
 'love',
 'python',
 '.',
 'Zafer',
 'lives',
 'in',
 'a',
 'small',
 'village',
 '.',
 'Plase',
 'call',
 'e',
 'back']

In [15]:
from nltk.tokenize import TreebankWordTokenizer

In [16]:
TreebankWordTokenizer().tokenize(text)

['I',
 'love',
 'python.',
 'Zafer',
 'lives',
 'in',
 'a',
 'small',
 'village.',
 'Plase',
 'call',
 'e',
 'back']

In [17]:
# Stopword: gereksiz kelimeler

In [18]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [19]:
print(nltk.corpus.stopwords.words("english"))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [20]:
print(nltk.corpus.stopwords.words("turkish"))

['acaba', 'ama', 'aslında', 'az', 'bazı', 'belki', 'biri', 'birkaç', 'birşey', 'biz', 'bu', 'çok', 'çünkü', 'da', 'daha', 'de', 'defa', 'diye', 'eğer', 'en', 'gibi', 'hem', 'hep', 'hepsi', 'her', 'hiç', 'için', 'ile', 'ise', 'kez', 'ki', 'kim', 'mı', 'mu', 'mü', 'nasıl', 'ne', 'neden', 'nerde', 'nerede', 'nereye', 'niçin', 'niye', 'o', 'sanki', 'şey', 'siz', 'şu', 'tüm', 've', 'veya', 'ya', 'yani']

In [21]:
from nltk.stem import PorterStemmer
#ekini kaldirip kokunu bulmaya calisir

In [22]:
PorterStemmer().stem("Happiness")

'happi'

In [23]:
from nltk.stem import LancasterStemmer

In [24]:
LancasterStemmer().stem("Happiness")

'happy'

In [25]:
# Markov Chain - bir sonraki kelimeyi tahmin edebilir

In [26]:
from nltk.stem import RegexpStemmer

In [27]:
rs=RegexpStemmer('ing')

In [28]:
rs.stem('working')

'work'

# NLP projesine baslarken 8 Altin kural
1. Noktalama isaretleri
2. Hepsini kucuk harfe cevir
3. Enter veya \n kaldir
4. Rakamlari kaldir
5. Tokenize ekle
6. Eklerini ve koklerini bul
7. Stopwords ile gereksiz kelimeleri kaldir 
8. Vectorize ile yazilari rakama cevir

In [29]:
from nltk.stem import SnowballStemmer #kelimelerin kokunu mastar halini bulabilirsiniz

In [30]:
SnowballStemmer.languages

('arabic',
 'danish',
 'dutch',
 'english',
 'finnish',
 'french',
 'german',
 'hungarian',
 'italian',
 'norwegian',
 'porter',
 'portuguese',
 'romanian',
 'russian',
 'spanish',
 'swedish')

In [31]:
!pip install TurkishStemmer

Requirement already satisfied: TurkishStemmer in c:\users\utilisateur\anaconda3\lib\site-packages (1.3)

In [32]:
from TurkishStemmer import TurkishStemmer

In [33]:
TurkishStemmer().stem("bardaktan")

'bardak'

In [34]:
TurkishStemmer().stem("geliyorum")

'geliyor'

In [35]:
TurkishStemmer().stem("mahalle")

'mahalle'

In [36]:
TurkishStemmer().stem("dostum")

'dost'

In [37]:
TurkishStemmer().stem("kodlama")

'kodla'

In [38]:
spstemmer=SnowballStemmer('spanish')

In [39]:
spstemmer.stem('tioano')

'tioan'

In [40]:
frstemmer=SnowballStemmer('french')

In [41]:
frstemmer.stem('parlez')

'parl'

In [42]:
# Part of Speech - POS isim fiil, ozne yuklem,fiil fail

In [43]:
from nltk.tokenize import word_tokenize

In [44]:
cumle='Zafer loves stuffed grape leaves. Artificial Intelligence is cool'

In [45]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [46]:
nltk.pos_tag(word_tokenize(cumle))

[('Zafer', 'NNP'),
 ('loves', 'VBZ'),
 ('stuffed', 'JJ'),
 ('grape', 'NN'),
 ('leaves', 'VBZ'),
 ('.', '.'),
 ('Artificial', 'JJ'),
 ('Intelligence', 'NN'),
 ('is', 'VBZ'),
 ('cool', 'JJ')]

In [47]:
text=word_tokenize('it is a pleasent day today')

In [48]:
nltk.pos_tag(text)

[('it', 'PRP'),
 ('is', 'VBZ'),
 ('a', 'DT'),
 ('pleasent', 'JJ'),
 ('day', 'NN'),
 ('today', 'NN')]

In [49]:
from nltk.tag import DefaultTagger

In [50]:
tag=DefaultTagger('He is the man')

In [51]:
tag.tag(['beautiful','morning'])

[('beautiful', 'He is the man'), ('morning', 'He is the man')]

In [136]:
!pip install autocorrect 
# otomotik yanlislari duzeltme

Requirement already satisfied: autocorrect in c:\users\utilisateur\anaconda3\lib\site-packages (2.6.1)

In [137]:
from autocorrect import spell

In [138]:
spell('tghe')

autocorrect.spell is deprecated,             use autocorrect.Speller instead

'the'

In [139]:
!pip install TextBlob

Requirement already satisfied: TextBlob in c:\users\utilisateur\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\utilisateur\anaconda3\lib\site-packages (from TextBlob) (3.7)
Requirement already satisfied: joblib in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (2022.3.15)
Requirement already satisfied: click in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (8.0.4)
Requirement already satisfied: tqdm in c:\users\utilisateur\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (4.64.0)
Requirement already satisfied: colorama in c:\users\utilisateur\anaconda3\lib\site-packages (from click->nltk>=3.1->TextBlob) (0.4.4)

In [56]:
from textblob import TextBlob

In [57]:
b=TextBlob("I havv good spelling")

In [58]:
#b.detect_language()

In [59]:
b.correct()

TextBlob("I have good spelling")

In [60]:
!pip install langdetect

Requirement already satisfied: langdetect in c:\users\utilisateur\anaconda3\lib\site-packages (1.0.9)
Requirement already satisfied: six in c:\users\utilisateur\anaconda3\lib\site-packages (from langdetect) (1.16.0)

In [61]:
from langdetect import detect

In [62]:
detect("Ein. zwei, vier")

'de'

In [63]:
detect("melek gelmedi")

'tr'

In [64]:
detect("je parles bien")

'fr'

In [65]:
#Speech to text

In [66]:
c='I am a free man from Africa'

In [67]:
b=TextBlob(c)

In [68]:
b.translate(from_lang="en",to="tr")

TextBlob("Ben Afrika'dan özgür bir adamım")

In [69]:
m ="Hayat devam ediyor"

In [70]:
b=TextBlob(m)

In [71]:
b.translate("tr","fr")

TextBlob("La vie continue")

In [72]:
b.translate("tr","ar")

TextBlob("الحياة تستمر")

In [73]:
!pip install google

Requirement already satisfied: google in c:\users\utilisateur\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: beautifulsoup4 in c:\users\utilisateur\anaconda3\lib\site-packages (from google) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\utilisateur\anaconda3\lib\site-packages (from beautifulsoup4->google) (2.3.1)

In [140]:
from googlesearch import search # google da yaptigimiz aramalari burada yapabiliriz

In [141]:
#for i in search("Zafer Acar Yapay Zeka"):
#    print(i)

In [142]:
# TF-IDF = Term Frequency-Inverse Document Frequency

In [143]:
#TF bir cumle icerisinde bir kelime kac defa geciyor
#IDF bir dokumanin icerisinde bir kelime kac defa geciyor

In [144]:
#Vectorizer --cumlenin icindeki kelimelere bir deger verip tablo olusturuyor

In [145]:
#Vectorizer

In [146]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [147]:
cumle="call you tonight","call me a cab","please, call me ....PLEASE!"

In [148]:
vect=CountVectorizer() # kelimeleri sayiyor

In [149]:
import pandas as pd

In [150]:
tf=pd.DataFrame(vect.fit_transform(cumle).toarray(),columns=vect.get_feature_names())

C:\Users\Utilisateur\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [151]:
tf

   cab  call  me  please  tonight  you
0    0     1   0       0        1    1
1    1     1   1       0        0    0
2    0     1   1       2        0    0

In [152]:
vect = CountVectorizer()
df=vect.fit_transform(cumle).toarray().sum(axis=0)

In [153]:
df

array([1, 3, 2, 2, 1, 1], dtype=int64)

In [154]:
pd.DataFrame(df.reshape(1,6),columns=vect.get_feature_names())

C:\Users\Utilisateur\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   cab  call  me  please  tonight  you
0    1     3   2       2        1    1

In [155]:
tf/df # cumle icinde gecme yuzdeleri

   cab      call   me  please  tonight  you
0  0.0  0.333333  0.0     0.0      1.0  1.0
1  1.0  0.333333  0.5     0.0      0.0  0.0
2  0.0  0.333333  0.5     1.0      0.0  0.0

In [156]:
vect=TfidfVectorizer() # vectorun uzunlugunu buluyoruz

In [157]:
pd.DataFrame(vect.fit_transform(cumle).toarray(),columns=vect.get_feature_names())

C:\Users\Utilisateur\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

        cab      call        me    please   tonight       you
0  0.000000  0.385372  0.000000  0.000000  0.652491  0.652491
1  0.720333  0.425441  0.547832  0.000000  0.000000  0.000000
2  0.000000  0.266075  0.342620  0.901008  0.000000  0.000000

In [158]:
import pandas as pd

In [159]:
yelp=pd.read_csv('yelp.csv')

In [160]:
yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [161]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  10000 non-null  object
 1   date         10000 non-null  object
 2   review_id    10000 non-null  object
 3   stars        10000 non-null  int64
 4   text         10000 non-null  object
 5   type         10000 non-null  object
 6   user_id      10000 non-null  object
 7   cool         10000 non-null  int64
 8   useful       10000 non-null  int64
 9   funny        10000 non-null  int64
dtypes: int64(4), object(6)
memory usage: 781.4+ KB

### NLP projesine baslarken 8 Altin kural
1. Hepsini kucuk harfe cevir
2. Noktalama isaretlerini kaldir
3. Enter veya \n kaldir
4. Rakamlari kaldir
5. Tokenize et,(kelimeleri tek tek ayirip diziye atiyor)
6. Lemma ve Stemme ile eklerini ve koklerini bul
7. Stopwords ile gereksiz kelimeleri kaldir 
8. Vectorize ile yazilari rakama cevir

In [162]:
yelp['text']=yelp['text'].str.lower() # kucuk harfe cevirdik

In [163]:
yelp['text']=yelp['text'].str.replace('[^\w\s]','') #noktalama isaretlerini kaldirdik

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_12444\2080028736.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  yelp['text']=yelp['text'].str.replace('[^\w\s]','') #noktalama isaretlerini kaldirdik

In [164]:
yelp['text']=yelp['text'].str.replace('\d+','')
 #rakamalari kaldirdik

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_12444\2168435071.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  yelp['text']=yelp['text'].str.replace('\d+','')

In [165]:
yelp['text']=yelp['text'].str.replace('\n',' ').replace('\r',' ') 
#Enter ve Yeni satir bosluklarini kaldirdik

In [166]:
yelp_ei_ek=yelp[(yelp.stars==5) | (yelp.stars==1)] # 1 ve 5 yildiz verenleri bulmak icin

In [167]:
yelp_ei_ek

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,my wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,i have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,rosie dakota and i love chaparral dog park its...,review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,general manager scott petello is a good egg no...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
6,zp713qNhx8d9KCJJnrw1xA,2010-02-12,riFQ3vxNpP4rWLk_CSri2A,5,drop what youre doing and drive here after i a...,review,wFweIWhv2fREZV_dYkz_1g,7,7,4
...,...,...,...,...,...,...,...,...,...,...
9990,R8VwdLyvsp9iybNqRvm94g,2011-10-03,pcEeHdAJPoFNF23es0kKWg,5,yes i do rock the hipster joints i dig this p...,review,b92Y3tyWTQQZ5FLifex62Q,1,1,1
9991,WJ5mq4EiWYAA4Vif0xDfdg,2011-12-05,EuHX-39FR7tyyG1ElvN1Jw,5,only stars a few notes the folks that rated...,review,hTau-iNZFwoNsPCaiIUTEA,1,1,0
9992,f96lWMIAUhYIYy9gOktivQ,2009-03-10,YF17z7HWlMj6aezZc-pVEw,5,im not normally one to jump at reviewing a cha...,review,W_QXYA7A0IhMrvbckz7eVg,2,3,2
9994,L3BSpFvxcNf3T_teitgt6A,2012-03-19,0nxb1gIGFgk3WbC5zwhKZg,5,lets seewhat is there not to like about surpri...,review,OzOZv-Knlw3oz9K5Kh5S6A,1,2,1
9999,pF7uRzygyZsltbmVpjIyvw,2010-10-16,vWSmOhg2ID1MNZHaWapGbA,5,locations all star average i think arizona r...,review,KSBFytcdjPKZgXKQnYQdkA,0,0,0

In [168]:
yelp_ei_ek.reset_index(drop=True,inplace=True) #siralamasi dogru olsun diye

In [169]:
yelp_ei_ek

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,my wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,i have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,rosie dakota and i love chaparral dog park its...,review,uZetl9T0NcROGOyFfughhg,1,2,0
3,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,general manager scott petello is a good egg no...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
4,zp713qNhx8d9KCJJnrw1xA,2010-02-12,riFQ3vxNpP4rWLk_CSri2A,5,drop what youre doing and drive here after i a...,review,wFweIWhv2fREZV_dYkz_1g,7,7,4
...,...,...,...,...,...,...,...,...,...,...
4081,R8VwdLyvsp9iybNqRvm94g,2011-10-03,pcEeHdAJPoFNF23es0kKWg,5,yes i do rock the hipster joints i dig this p...,review,b92Y3tyWTQQZ5FLifex62Q,1,1,1
4082,WJ5mq4EiWYAA4Vif0xDfdg,2011-12-05,EuHX-39FR7tyyG1ElvN1Jw,5,only stars a few notes the folks that rated...,review,hTau-iNZFwoNsPCaiIUTEA,1,1,0
4083,f96lWMIAUhYIYy9gOktivQ,2009-03-10,YF17z7HWlMj6aezZc-pVEw,5,im not normally one to jump at reviewing a cha...,review,W_QXYA7A0IhMrvbckz7eVg,2,3,2
4084,L3BSpFvxcNf3T_teitgt6A,2012-03-19,0nxb1gIGFgk3WbC5zwhKZg,5,lets seewhat is there not to like about surpri...,review,OzOZv-Knlw3oz9K5Kh5S6A,1,2,1
4085,pF7uRzygyZsltbmVpjIyvw,2010-10-16,vWSmOhg2ID1MNZHaWapGbA,5,locations all star average i think arizona r...,review,KSBFytcdjPKZgXKQnYQdkA,0,0,0

In [170]:
x=yelp_ei_ek.text
y=yelp_ei_ek.stars

In [171]:
from sklearn.model_selection import train_test_split

In [172]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [183]:
vect=CountVectorizer(lowercase=True,ngram_range=(1,1),stop_words="english")
x_yeni=vect.fit_transform(x)

In [184]:
x_train,x_test,y_train,y_test=train_test_split(x_yeni,y,random_state=42)

In [185]:
from sklearn.naive_bayes import MultinomialNB

In [186]:
mb=MultinomialNB()

In [188]:
mb.fit(x_train,y_train)

MultinomialNB()

In [189]:
from sklearn.metrics import accuracy_score

In [190]:
tahmin = mb.predict(x_test)

In [192]:
accuracy_score(y_test,tahmin)

0.9041095890410958

In [193]:
from sklearn.tree import DecisionTreeClassifier

In [194]:
d=DecisionTreeClassifier()

In [195]:
d.fit(x_train,y_train)

DecisionTreeClassifier()

In [196]:
tahmin2=d.predict(x_test)

In [197]:
accuracy_score(y_test,tahmin2)

0.8610567514677103